@media only screen and (max-width: 600px) {

.header-container{
        margin: 0 20px;
    }
.container{
    background-color: #ffff;
    padding: 13px 20px 0px 70px;
    border-radius: 5px;
    height: 100%;
    max-width: 100% !important;
}
.players{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 5px;
}
.blogs{
    grid-template-columns: repeat(1,1fr);
}
.latest-course{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.latest-course .course{
    width: 80%;
    margin-bottom: 20px;

}
}